.Weather {
  margin-bottom: 5%;
  border: 1px solid #dce3ea;
  color: #878a89;
  font-family: Arial, sans-serif;
  padding: 16px;
  margin: 3% auto;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}

.Weather .search {
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Weather img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.Weather canvas {
  margin-left: 10px;
  margin-top: 5px;
  display: inline;
}

.Weather h1 {
  margin-top: 20px;
  display: block;
  font-size: 24px;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -20px;
}

.Weather .temperature {
  font-size: 48px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #000;
  display: inline;
  line-height: 48;
}
