.weatherForecast {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  margin-top: 25px;
}

.forecastTemperature-min {
  margin-left: 5px;
}
.forecastTemperature-max {
  font-weight: bold;
}
