.weatherForecast {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin-top: 15px;
}

.forecastTemperature-min {
  margin-left: 3px;
  font-size: 14px;
}

.forecastTemperature-max {
  font-weight: bold;
}
