/* General styles */
.weatherForecast {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin-top: 15px;
}

.forecastTemperature-min {
  margin-left: 3px;
  font-size: 14px;
}

.forecastTemperature-max {
  font-weight: bold;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .weatherForecast {
    font-size: 14px; /* Decrease font size for smaller screens */
  }

  .forecastTemperature-min {
    font-size: 12px; /* Decrease font size for smaller screens */
  }

  .forecastTemperature-max {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}
